.nc_checkbox {
  background-color: var(--opposite-contrast);
  padding         : 0.3em;
  display         : flex;
  cursor          : pointer;
  align-items     : center;
  min-width       : 0;
}

.nc_checkbox input {
  display: none;
}

.nc_checkbox .copy-wrapper {
  margin       : 0.3em;
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
  min-width    : 1.3em;
}

.nc_checkbox:hover:not(:disabled) {
  background-color: var(--clickable-bg-hover);
  outline: 1px dotted var(--light-glare);  
}

.nc_checkbox .icon-wrapper {
  align-items    : center;
  border-radius  : 3px;
  display        : flex;
  font-size      : 1.5em;
  margin         : 0.133em;
  flex-shrink    : 0;
  justify-content: center;
  color          : var(--checkbox-border-color);
}
.nc_checkbox .icon-wrapper svg{
  display: none;
}
.nc_checkbox .icon-wrapper .checkbox-unchecked-svg{
  display: initial;
}

.nc_checkbox :checked ~ .icon-wrapper .checkbox-unchecked-svg{
  display: none;
}

.nc_checkbox :checked ~ .icon-wrapper{
  color: var(--max-contrast);
}

.nc_checkbox :checked ~ .icon-wrapper .checkbox-checked-svg{
  display: initial;
}

.nc_checkbox :indeterminate ~ .icon-wrapper {
  color: var(--grey-highlight);
}

.nc_checkbox :indeterminate ~ .icon-wrapper .checkbox-indetermined-svg {
  display: initial;
}

.nc_checkbox :indeterminate ~ .icon-wrapper .checkbox-unchecked-svg,
.nc_checkbox :indeterminate ~ .icon-wrapper .checkbox-checked-svg{
  display: none;
}